.axis path,
.axis line{
  fill: none;
  stroke: black;
}

.tick text{
  font-size: 12px;
}

.btn{
  margin-top: 5px;
  margin-bottom: 5px;
}

#get-classes{
    margin-bottom: 2em;
    max-height:300px; 
    overflow:auto;
}
#get-classes button{
  margin: 0 .5em;
}

#get-classes div:hover{
  background-color: rgba(211, 214, 34, 0.42);
}

.list{

  background-color: rgb(238, 238, 238);
  border: 1px solid #B79431;
  border-radius: 4px;
  margin: 5px;
  }

.tick line{
  opacity: 0.2;
}



#field-svg {
  border-style: solid;
  border-width: 1px;
}

#field-container {
  /* border-style: solid;
  border-width: 1px; */
  margin:10px;
}
circle {
  fill: #fff;
  cursor: move;
  stroke: steelblue;
  stroke-width: 1.5px;
}