/** Add css rules here for your application. */
.versioninfo {
    cursor:pointer;
    font-size:9px; 
    display:block; 
    padding:2px; 
    margin:5px; 
    position:absolute; 
    top:0px; left:0px; 
    border: 1px solid black; 
    background-color:rgba(0,0,0,0.2);
    display:none;
}

.ggm_overlay {
    background : rgba(0,0,0,0.5);
    text-align:left;
    top:0;
    left:0;
    z-index:99999;
    display:none;
    position:absolute;
    color: white;
    font-size:10px;
    font-weight:bold;
    padding:60px;
    }

.ggm_overlay.loading {
    display:block;
}

.debugWindow {
    cursor:pointer;
    font-size:9px; 
    display:block; 
    padding:2px; 
    margin:5px; 
    position:absolute; 
    top:0px; right:0px; 
    border: 1px solid black; 
    background-color:rgba(0,0,0,0.2);
    width: 200px;
    display:none;
}

article.geogebramobile {
    display:block;
    position:relative;
}

div.mjlatex {
    display:block;
    position:absolute;
}

article {
    display:block;
}

article canvas {
    display:inline-block;
}
