.container {
    border: 2px solid rgba(0, 0, 0, 0.23);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
}
body {
    padding: 15px;
    background-color: rgba(114, 190, 210, 0.46);
    overflow-y:scroll;
}
#error_frame:not(:empty){
    color:red;
    border: 2px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    background-color: rgba(200, 192, 192, 0.38);
    padding: 5px;
}
#messages{
    height:300px; 
    overflow:auto;
}
